<!doctype html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>www:~ Wilson$</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Wilson Chang professional software engineer full stack front back end web developer" name="description">
	<meta content="Wilson Chang" name="author">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/flat-ui.css">
	<style>
	  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	  	border-radius: 0px;
	  }
	  ul { margin-bottom: 0px; }
	  .table th { vertical-align: middle; }
	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
	<script>
		if (window.location.hash == '#_=_')
	        window.location.hash = ''
	        history.pushState('', document.title, window.location.pathname)
	</script>
</head>
<body class="background">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
	    <div class="container">
	      <button data-target="#nav-collapse-01" data-toggle="collapse" class="btn btn-navbar" type="button"></button>
	      <span class="brand">~Wilson$</span>
	      <div id="nav-collapse-01" class="nav-collapse collapse">
	        <ul class="nav">
	          <li class="">
	            <a href="/">
	              Software Engineer
	              <span class="navbar-unread">1</span>
	            </a>
	          </li>
	          <li class="">
	            <a href="/resume">
	              Resume
	              <span class="navbar-unread">1</span>
	            </a>
	          </li>
	          <li class="active">
	            <a href="/hobbies">
	              Hobbies
	              <span class="navbar-unread">1</span>
	            </a>
	          </li>
	        </ul>
	      </div><!--/.nav -->
	    </div>
	  </div>
	</div>
	<div class="container">
		<div class="hero-unit">
			<h3>My Hobbies</h3>
			<div class="lead" style="max-width:500px">
				<p>Snowboarding</p>
				<iframe src="//player.vimeo.com/video/33577459" width="100%" height="300px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/33577459">GoPro HD Bear Mountain 12.10.11</a> from <a href="http://vimeo.com/user8119115">Bill.i.am</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script rel="javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
