<!doctype html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>www:~ Wilson$</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Wilson Chang professional software engineer full stack front back end web developer" name="description">
	<meta content="Wilson Chang" name="author">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/flat-ui.css">
	<style>
	  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	  	border-radius: 0px;
	  }
	  ul { margin-bottom: 0px; }
	  .table th { vertical-align: middle; }
	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
	<script>
		if (window.location.hash == '#_=_')
	        window.location.hash = ''
	        history.pushState('', document.title, window.location.pathname)
	</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
	    <div class="container">
	      <button data-target="#nav-collapse-01" data-toggle="collapse" class="btn btn-navbar" type="button"></button>
	      <span class="brand">~Wilson$</span>
	      <div id="nav-collapse-01" class="nav-collapse collapse">
	        <ul class="nav">
	          <li class="">
	            <a href="/">
	              Software Engineer
	              <span class="navbar-unread">1</span>
	            </a>
	          </li>
	          <li class="active">
	            <a href="/resume">
	              Resume
	              <span class="navbar-unread">1</span>
	            </a>
	          </li>
	        </ul>
	      </div><!--/.nav -->
	    </div>
	  </div>
	</div>
	<div class="container">
		<div class="hero-unit">
			<h3>Wilson Chang</h3>
			<p>213.249.5623</p>
			<p>wilsonchang84@gmail.com</p>
			<div class="lead">
				<h3>Careet Objective</h3>
				<p>Seeking to secure a full-time position in a technical software development team using agile, scrum, modern development tools and integration.</p>
				<p>I specialize in writing front and backend JavaScript taking advantage of the functional nature of the language.</p>
			</div>
			<div>
				<h3>Projects</h3>
				<p>
					*<a target="_blank" href="http://meeeu.com">Bookmarking App (meeeu.com)</a>
					<span>#angular #node.js #mongodb</span>
				</p>
				<p>
					*<a target="_blank" href="http://togobox.co">Marketplace App (togobox.co)</a>
					<span>#node.js #mongodb</span>
				</p>
				<p>
					*<a target="_blank" href="http://coke.loyltiapp.co">Customer Loylty App (loyltiapp.com)</a>
					<span>#node.js #mongodb #d3.js</span>
				</p>
				<h3>Experience</h3>
				<div>
					<span>
						<h4><a target="_blank" href="http://heavenspot.com">HeavenSpot</a></h4>
						<span class="pull-right">8/2013</span>
						<p><i>Contract</i></p>
					</span>
					<p>~ Wrote, tested, and maintained front end HTML5, CSS3, and Javascript code</p>
					<p>~ Implemented design specification into working software Developed UI and front-end software functionalities</p>
				</div>
				<br>
				<div>
					<span>
						<h4><a target="_blank" href="http://goldsilver.com">GoldSilver Inc.</a></h4>
						<span class="pull-right">1/2012 - 8/2013</span>
						<p><i>Full-time</i></p>
					</span>
					<p>~ Wrote, tested, and maintained front end HTML5, CSS3, and Javascript code</p>
					<p>~ Wrote, tested, and maintained back end Node.js, PHP code</p>
					<p>~ Architected and maintained database in MongoDB, Postgres, MySQL </p>
				</div>
				<br>
				<div>
					<span>
						<h4>Web Development Contractor</h4>
						<span class="pull-right">2009 - 2012</span>
					</span>
					<p>~ Met and planned with clients on broad web development needs</p>
					<p>~ Offered and fulfilled clients’ web development needs with various technologies</p>
					<p>~ Developed front and backend solutions</p>
				</div>
				<h3>Education</h3>
				<h4>University of California Riverside</h4>
				<span>Bachelor of Science, Electrical Engineering, CS minor</span>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script rel="javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
